<input id="real_copy" type="button" class="button" value="Copy" />
<div id="copy_button" style="position: absolute;" />
&nbsp;
</div>
<script type="text/javascript">
  // <![CDATA[
    addCopyButtonMaybe();
  // ]]>
</script>