<input id="real_copy" type="button" class="button" value="Copy"/>
<span id="copy_success"></span>
<script type="text/javascript">
  // <![CDATA[
  Event.observe(window, 'load', function() {
    addCopyButton();
  });
  // ]]>
</script>
<div id="copy_button" style="position: absolute;">
&nbsp;
</div>