#errors

- remote_form_for @shortening do |f|
  = f.text_field :url, :size => 34
  url
  = f.text_field :custom_hash, :size => 12
  custom url (opt.)
  = f.submit "Shorten"
  
#results

%br
%br
%br
%br
%br